*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background-color: darkkhaki;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.XandO{
    height: 80%;
    width: 50%;
    background-color: azure;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #28378f;
}
imagess{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;

}